################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Workspace/IOStreams/.vs/IOStreams/v16/ipch/AutoPCH/979bd605e639dc6e/IOSTREAMS.ipch
/Workspace/IOStreams/.vs/IOStreams/v16/Browse.VC.opendb
